## Import Dependencies

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df = pd.read_csv('../data/raw/kag_risk_factors_cervical_cancer.csv')

In [5]:
column_names = list(df.columns)

## 1st Option delete null values

In [4]:
df = df.dropna()

## 2nd Option, fill null values with class mean (or mode for categorical values)

In [6]:
column_names

['Age',
 'Number of sexual partners',
 'First sexual intercourse',
 'Num of pregnancies',
 'Smokes',
 'Smokes (years)',
 'Smokes (packs/year)',
 'Hormonal Contraceptives',
 'Hormonal Contraceptives (years)',
 'IUD',
 'IUD (years)',
 'STDs',
 'STDs (number)',
 'STDs:condylomatosis',
 'STDs:cervical condylomatosis',
 'STDs:vaginal condylomatosis',
 'STDs:vulvo-perineal condylomatosis',
 'STDs:syphilis',
 'STDs:pelvic inflammatory disease',
 'STDs:genital herpes',
 'STDs:molluscum contagiosum',
 'STDs:AIDS',
 'STDs:HIV',
 'STDs:Hepatitis B',
 'STDs:HPV',
 'STDs: Number of diagnosis',
 'STDs: Time since first diagnosis',
 'STDs: Time since last diagnosis',
 'Dx:Cancer',
 'Dx:CIN',
 'Dx:HPV',
 'Dx',
 'Hinselmann',
 'Schiller',
 'Citology',
 'Biopsy']

In [9]:
selected_columns = df[[column_names[1], column_names[24], column_names[22], column_names[28] ]]

selected_columns

    Number of sexual partners STDs:HPV STDs:HIV  Dx:Cancer
0                         4.0      0.0      0.0          0
1                         1.0      0.0      0.0          0
2                         1.0      0.0      0.0          0
3                         5.0      0.0      0.0          1
4                         3.0      0.0      0.0          0
..                        ...      ...      ...        ...
853                       3.0      0.0      0.0          0
854                       2.0      0.0      0.0          0
855                       2.0      0.0      0.0          0
856                       2.0      0.0      0.0          0
857                       2.0      0.0      0.0          0

[858 rows x 4 columns]

In [10]:
selected_columns.to_csv('../data/processed/cancer_classification_clean.csv')